@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");

:root {
--blue: hsl(223, 87%, 63%);
--paleblue: hsl(223, 100%, 88%);
--lightred: hsl(354, 100%, 66%);
--gray: hsl(0, 0%, 59%);
--darkblue: hsl(209, 33%, 12%);
}

body {
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Libre Franklin', sans-serif; 
    text-align: center;
}

.logo {
    margin-top: 2vw;
    margin-bottom: 4vh;
}

h1 {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 100;
    max-width: 100%;
    font-size: 2.5rem;
    color: var(--gray);
}

em {
    font-weight: 700;
    font-style: normal;
    color: var(--darkblue);
}

form {
    align-items: center;
    justify-content: left;
    margin: auto;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
}

.dash {
    max-width: 100%;
}

#email {
    border-radius: 27px;
    height: 42px;
    flex-grow: 3;
    padding-left: 20px;
    margin-right: 2vw;
    color: var(--gray);
}

.email-ok {
    border: 1px solid #c2d3ff;
}

.email-error {
    border: 1px solid #ff5263;;
    color: var(--gray);
}

.form-error {
    padding: 3px 20px;
    font-size: 0.75em;
    font-style: italic;
    color: #ff5263;
    text-align: left;
  }

  .form_error {
    display: none;
    padding: 3px 20px;
    font-size: 0.75em;
    font-style: italic;
    color: #ff5263;
    text-align: left;
  }


button {
    background-color: var(--blue);
    color: white;
    border-radius: 27px;
    border-style: none;
    box-shadow: 0 4px 12px 0 #b0c6ff;
    height: 42px;
    flex-grow: 1;
}

button:hover {
    background-color: var(--paleblue);
}

#image {
    margin-bottom: 3.5vw;
    padding: 7.5vw;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
}

ul {
    display: flex;
    list-style: none;
    align-content: center;
    justify-content: center;
}

li {
    margin: 3px 20px;
    color: var(--blue);
}

i {
    height: 30px;
}

footer {
    color: var(--gray);
    font-size: 1rem;
}

@media all and (max-width: 450px){
    body {
        box-sizing: border-box;
    }

    h1 {
        font-size: 1.7rem;
    }

    p {
        font-size: 1rem;
    }

    form {
        margin: 5vw 10vw;
        width: 80vw;
        margin-bottom: 15vw;
    }

    input {
        margin: 2vw;
    }
    
    footer {
        font-size: 0.7rem;
    }

}